
<input
  type="text"
  [(ngModel)]="filterTerm"
  [ngModelOptions]="{
    standalone: true
  }"
  />

<ul>
  <li *ngFor="let item of objectCollection | filterBy:filterTerm:'name'">
    {{ item.name }}
  </li>
</ul>
